.siderbar h5 {
  height: 30px;
  margin-bottom: 0px;
}

.footer {
  height: 265px;
}

.produtos {
  height: calc(100% - 295px);
  overflow: auto;
  align-content: flex-start;
}

.btn-pedido {
  height: 50px;
}
